.toast-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    font-size: 0.9em;
}
.toast-item{
    margin: 10px;
    padding: 12px;
}
.toast-item-success{
    background-color: green;
}
.toast-item-error{
    background-color: #ff0000;
    color: white;
}
.toast-item-info{
    background-color: #f3e525;
}
.toast-item-default{
    background-color: #00b7ff;
}

.toast-closed{
    cursor: pointer;
    color: white;
    font-weight: bold;
    float: right;
    margin: -15px -7px;
}