ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
ul li {
    padding: 8px 12px; 
    border-bottom: 1px solid #ddd; 
}
ul li a {
    text-decoration: none; 
    color: #333; 
    display: block;
}
ul li a:hover {
    color: #353c67; 
    font-weight: bold;
}